.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
}

@media only screen and (max-width:1230px) {
    .container {
        max-width: 719px;
    }
}

// @media only screen and (max-width:719px) {
//     .container {
//         max-width: 327px;
//     }
// }